@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(100% 100% at 49.12% 0%, #ffffff 0%, #eff6ff 100%);
  min-height: 100vh;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #5e6569;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #948484;
  border-radius: 10px;
}
